<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}</a>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink='/home'>Home</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink='/products'>Product List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="authService.isLoggedIn()">
                    <a routerLink='/login'>Welcome {{ authService.currentUser.userName }}</a>
                </li>
                <li *ngIf="!messageService.isDisplayed">
                    <a (click)="displayMessages()" style="cursor: pointer">Show Messages</a>
                </li>
                <li *ngIf="messageService.isDisplayed">
                    <a (click)="hideMessages()" style="cursor: pointer">Hide Messages</a>
                </li>
                <li *ngIf="!authService.isLoggedIn()">
                    <a routerLink='/login'>Log In</a>
                </li>
                <li *ngIf="authService.isLoggedIn()">
                    <a (click)="logOut()" style="cursor: pointer">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row" *ngIf='!messageIsDisplayed'>
            <router-outlet></router-outlet>
        </div>
        <div class="row" *ngIf='messageIsDisplayed'>
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-4">
                <messages></messages>
            </div>
        </div>
    </div>
</div>