<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Filtered by: {{listFilter}} </h3>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='customers && customers.length'>
        <thead>
          <tr>
            <th>Full Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let customer of filteredCustomers'>
            <td><a [routerLink]="['/customers', customer.customerId]">
                              {{ customer.lastName }}, {{ customer.firstName}}
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>